<div class="header">
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
	<div class="container">
		<div class="row">
			<div class="col-md-2 col-sm-2">
				<div class="logo"><a href="/"><img src="assets/icon/Triple.png" alt="MyShop"></a></div>
			</div>
			<div class="col-md-10 col-sm-10">
				<div class="header_top">
					<div class="row">
						<div class="col-md-3">
							<ul class="option_nav">
								<li class="dorpdown">
									<a href="#">Eng</a>
									<ul class="subnav">
										<li><a href="#">Eng</a></li>
										<li><a href="#">Vns</a></li>
										<li><a href="#">Fer</a></li>
										<li><a href="#">Gem</a></li>
									</ul>
								</li>
							</ul>
						</div>
						<div class="col-md-3">
							<ul class="usermenu">
								<li><a href="checkout.html" class="log">Login</a></li>
								<li><a href="checkout2.html" class="reg">Hotline</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
				<div class="header_bottom row">
=======
            <div class="container">
               <div class="row">
                  <div class="col-md-2 col-sm-2">
                     <div class="logo"><a href="index.html"><img src="images/Triple.png" alt="MyShop"></a></div>
                  </div>
                  <div class="col-md-10 col-sm-10">
                     <div class="header_top">
=======
<div class="container">
    <div class="row">
        <div class="col-md-2 col-sm-2">
            <div class="logo"><a href="/"><img src="images/Triple.png" alt="MyShop"></a></div>
        </div>
        <div class="col-md-10 col-sm-10">
            <div class="header_top">
            <div class="row">
                <div class="col-md-5">
                    <ul class="usermenu">
                        <li><a href="/" class="log">Login</a></li>
                        <li><a href="/" class="reg">Hotline: 0981463592 </a></li>
                    </ul>
                </div>
            </div>
            </div>
            <div class="clearfix"></div>
            <div class="header_bottom row">
            
            <div class="navbar-header"><button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button></div>
            <div class="navbar-collapse collapse col-sm-10 col-xs-10 col-lg-10">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Thương hiệu</a>
                        <div class="dropdown-menu mega-menu">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <ul class="mega-menu-links">
                                   <li><a href="/">Louis Vuitton</a></li>
                                    <li><a href="/">Saint Laurent</a></li>
                                    <li><a href="/">Dior</a></li>
                                    <li><a href="/">Alexander McQueen</a></li>
                                    <li><a href="/">Jimmy Choo</a></li>
                                    <li><a href="/">Valentino</a></li>
                                    <li><a href="/">Gucci</a></li>
                                    <li><a href="/">Bottega Veneta</a></li>
                                    <li><a href="/">Stella Mcartney</a></li>
                                    <li><a href="/">Bulgari</a></li>
                                    <li><a href="/">Bally</a></li>
                                    <li><a href="/">Victoria Beckham</a></li>
                                    <li><a href="/">Da pu</a></li>
                                    <li><a href="/">Salvatore Ferragamo</a></li>
                                    <li><a href="/">NaZa</a></li>
                                </ul>
                            </div>
                        </div>
                        </div>
                    </li>
                
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Loại</a>
                        <div class="dropdown-menu mega-menu">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <ul class="mega-menu-links">
                                    <li><a href="/">Da</a></li>
                                    <li><a href="/">Vải thêu</a></li>
                                    <li><a href="/">Polyester</a></li>
                                    <li><a href="/">Hi-Tech</a></li>
                                    <li><a href="/">Nhựa cứng</a></li>
                                </ul>
                            </div>
                        </div>
                        </div>
                    </li>
                     <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Túi xách</a>
                        <div class="dropdown-menu mega-menu">
>>>>>>> c764c7c79dacccbdf12b4a95972b6603c77daaa0
                        <div class="row">
<<<<<<< HEAD
                            <div class="col-md-6 col-sm-6">
                                <ul class="mega-menu-links">                                   
                                    <li><a href="/">Saint Laurent</a></li>
                                    <li><a href="/">Jimmy Choo</a></li>
                                    <li><a href="/">Valentino</a></li>
                                    <li><a href="/">Gucci</a></li>
                                    <li><a href="/">Bottega Veneta</a></li>
                                    <li><a href="/">Stella Mcartney</a></li>                                    
                                    <li><a href="/">Bally</a></li>                                    
                                    <li><a href="/">Da pu</a></li>
                                    <li><a href="/">Salvatore Ferragamo</a></li>
                                    <li><a href="/">NaZa</a></li>  
                                </ul>
                            </div>
=======
                           <div class="col-md-3">
                              <ul class="option_nav">
                                 <li class="dropdown">
                                    <a href="#">Eng</a>
                                    <ul class="subnav">
                                       <li><a href="#">Eng</a></li>
                                       <li><a href="#">Vns</a></li>
                                       <li><a href="#">Fer</a></li>
                                       <li><a href="#">Gem</a></li>
                                    </ul>
                                 </li>
                              </ul>
                           </div>
                           <div class="col-md-6">
                              <ul class="usermenu">
                                 <li><a id="login" href="#" class="log">Login</a></li>
                                 <li><a href="#" class="reg">Hotline</a></li>
                                 <li class="option-cart">
                                    Alo
                                 </li>
                              </ul>
                           </div>
>>>>>>> 768cb0993107d04915726f8b7cf7e478c1242e2b
                        </div>
                        </div>
<<<<<<< HEAD
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Bóp Ví</a>
                        <div class="dropdown-menu mega-menu">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <ul class="mega-menu-links">                                   
                                    <li><a href="/">Louis Vuitton</a></li>
                                    <li><a href="/">Dior</a></li>
                                    <li><a href="/">Alexander McQueen</a></li>
                                    <li><a href="/">Bulgari</a></li>                                  
                                    <li><a href="/">Victoria Beckham</a></li>                                
                                </ul>
                            </div>
                        </div>
<<<<<<< HEAD
                     </div>
                     <div class="clearfix"></div>
                     <div class="header_bottom row">
                        
                        <div class="navbar-header"><button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button></div>
                        <div class="navbar-collapse collapse col-sm-10 col-xs-10 col-lg-10">
                           <ul class="nav navbar-nav">
                              <li class="active dropdown">
                                 <a href="#" class="dropdown-toggle" data-toggle="dropdown">danh mục</a>
                                 <div class="dropdown-menu">
=======
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-2">
                <div class="logo"><a href="/"><img src="images/Triple.png" alt="MyShop"></a></div>
            </div>
            <div class="col-md-10 col-sm-10">
                <div class="header_top">
                <div class="row">
                    <div class="col-md-5">
                        <ul class="usermenu">
                            <li><a href="/" class="log">Login</a></li>
                            <li><a href="/" class="reg">Hotline: 0981463592 </a></li>
                        </ul>
                    </div>
                </div>
                </div>
                <div class="clearfix"></div>
                <div class="header_bottom row">
                
                <div class="navbar-header"><button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button></div>
                <div class="navbar-collapse collapse col-sm-10 col-xs-10 col-lg-10">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Thương hiệu</a>
                            <div class="dropdown-menu mega-menu">
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <ul class="mega-menu-links">
                                       <li><a href="/">Louis Vuitton</a></li>
                                        <li><a href="/">Saint Laurent</a></li>
                                        <li><a href="/">Dior</a></li>
                                        <li><a href="/">Alexander McQueen</a></li>
                                        <li><a href="/">Jimmy Choo</a></li>
                                        <li><a href="/">Valentino</a></li>
                                        <li><a href="/">Gucci</a></li>
                                        <li><a href="/">Bottega Veneta</a></li>
                                        <li><a href="/">Stella Mcartney</a></li>
                                        <li><a href="/">Bulgari</a></li>
                                        <li><a href="/">Bally</a></li>
                                        <li><a href="/">Victoria Beckham</a></li>
                                        <li><a href="/">Da pu</a></li>
                                        <li><a href="/">Salvatore Ferragamo</a></li>
                                        <li><a href="/">NaZa</a></li>
                                    </ul>
=======
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-2">
                <div class="logo"><a href="/"><img src="images/Triple.png" alt="MyShop"></a></div>
            </div>
            <div class="col-md-10 col-sm-10">
                <div class="header_top">
                <div class="row">
                    <div class="col-md-5">
                        <ul class="usermenu">
                            <li><a href="/" class="log">Login</a></li>
                            <li><a href="/" class="reg">Hotline: 0981463592 </a></li>
                        </ul>
                    </div>
                </div>
                </div>
                <div class="clearfix"></div>
                <div class="header_bottom row">
                
                <div class="navbar-header"><button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button></div>
                <div class="navbar-collapse collapse col-sm-10 col-xs-10 col-lg-10">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Thương hiệu</a>
                            <div class="dropdown-menu mega-menu">
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <ul class="mega-menu-links">
                                       <li><a href="/">Louis Vuitton</a></li>
                                        <li><a href="/">Saint Laurent</a></li>
                                        <li><a href="/">Dior</a></li>
                                        <li><a href="/">Alexander McQueen</a></li>
                                        <li><a href="/">Jimmy Choo</a></li>
                                        <li><a href="/">Valentino</a></li>
                                        <li><a href="/">Gucci</a></li>
                                        <li><a href="/">Bottega Veneta</a></li>
                                        <li><a href="/">Stella Mcartney</a></li>
                                        <li><a href="/">Bulgari</a></li>
                                        <li><a href="/">Bally</a></li>
                                        <li><a href="/">Victoria Beckham</a></li>
                                        <li><a href="/">Da pu</a></li>
                                        <li><a href="/">Salvatore Ferragamo</a></li>
                                        <li><a href="/">NaZa</a></li>
                                    </ul>
>>>>>>> f82c348fd70915636e9a93e4cd2e4515c7ef3e11
                                </div>
                            </div>
                            </div>
                        </li>
                    
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Loại</a>
                            <div class="dropdown-menu mega-menu">
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
<<<<<<< HEAD
>>>>>>> 287cb3d1fdc7c63945b338320a7cae9260df6bec
=======
>>>>>>> f82c348fd70915636e9a93e4cd2e4515c7ef3e11
                                    <ul class="mega-menu-links">
                                        <li><a href="/">Da</a></li>
                                        <li><a href="/">Vải thêu</a></li>
                                        <li><a href="/">Polyester</a></li>
                                        <li><a href="/">Hi-Tech</a></li>
                                        <li><a href="/">Nhựa cứng</a></li>
                                    </ul>
<<<<<<< HEAD
<<<<<<< HEAD
                                 </div>
                              </li>
>>>>>>> e960ab6c972281df09d8db769ee3f3db4221efcd

					<div class="navbar-header"><button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button></div>
					<div class="navbar-collapse collapse col-sm-10 col-xs-10 col-lg-10">
						<ul class="nav navbar-nav">
							<li class="active dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">danh mục</a>
								<div class="dropdown-menu">
									<ul class="mega-menu-links">
										<li><a href="index.html">home</a></li>
									</ul>
								</div>
							</li>

							<li class="active dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">giới thiệu</a>
								<div class="dropdown-menu">
									<div class="content-detail">
										Túi xách nữ tua rua Chanel sang trọng có thiết kế thời trang thanh lịch, nhỏ gọn là phụ kiện không thể thiếu của phái đẹp <br>
										Túi có khóa kéo tiện dụng đựng những vật dụng cần thiết, đường may đẹp, chắc chắn, cho bạn an tâm sử dụng
										Họa tiết ô vuông phối cùng tua rua phía trước xinh xắn, dễ thương, quai đeo dạng mắt xích nối liền nhau chắc chắn, thời trang <br>
										Màu đen thanh lịch, tinh tế dễ dàng kết hợp phụ kiện và trang phục <br>
										Chất liệu simili bền màu giúp bạn tự tin khi sử dụng lâu dài <br>
										Kích thước: <br>
										Dài 25cm, Rộng 16cm, Đáy 7cm <br>
										Hotline:01234732339
<<<<<<< HEAD
									</div> 
								</div>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">xu hướng</a>
								<div class="dropdown-menu mega-menu">
									<div class="row">
										<div class="col-md-6 col-sm-6">
											<ul class="mega-menu-links">
												<li><a href="productgird.html">New Collection</a></li>
											</ul>
										</div>
									</div>
								</div>
							</li>

							<li><a href="productgird.html">thương hiệu</a></li>
							<li><a href="productgird.html">túi xách</a></li>
							<li><a href="productgird.html">bóp ví</a></li>
							<li><a href="productgird.html">balô</a></li>
							<li><a href="contact.html">liên hệ</a></li>
						</ul>
					</div>
					<ul class="option col-sm-2 col-xs-2 col-lg-2">
						<li id="search" class="search">
							<form><input class="search-submit" type="submit" value=""><input class="search-input" placeholder="Enter your search term..." type="text" value="" name="search"></form>
						</li>
						<li class="option-cart">
							<a href="#" class="cart-icon">cart <span class="cart_no"></span></a>
							<ul class="option-cart-item">
								<li>
									<div class="cart-item">
										<div class="image"><img src="images/icon.png" alt=""></div>
										<div class="item-description">
											<p class="name">Bally</p>
											<p>Size: <span class="light-red">One size</span><br>Quantity: <span class="light-red">01</span></p>
										</div>
										<div class="right">
											<p class="price">$30.00</p>
											<a href="#" class="remove"><img src="images/Bally.png" alt="remove"></a>
										</div>
									</div>
								</li>
								<li>
									<div class="cart-item">
										<div class="image"><img src="images/icon.png" alt=""></div>
										<div class="item-description">
											<p class="name">Gucci</p>
											<p>Size: <span class="light-red">One size</span><br>Quantity: <span class="light-red">01</span></p>
										</div>
										<div class="right">
											<p class="price">$60.00</p>
											<a href="#" class="remove"><img src="images/Gucci.jpg" alt="remove"></a>
										</div>
									</div>
								</li>
								<li><span class="total">Total <strong>$60.00</strong></span><button class="checkout" onClick="location.href='checkout.html'">CheckOut</button></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>ƒ
	</div>
</div>
=======
								</div> 
                                 </div>
                              </li>
                              <li class="dropdown">
                                 <a href="#" class="dropdown-toggle" data-toggle="dropdown">xu hướng</a>
                                 <div class="dropdown-menu mega-menu">
                                    <div class="row">
                                       <div class="col-md-6 col-sm-6">
                                          <ul class="mega-menu-links">
                                             <li><a href="productgird.html">New Collection</a></li>
                                          </ul>
                                       </div>
                                    </div>
                                 </div>
                              </li>
							 
                              <li><a href="productgird.html">thương hiệu</a></li>
                              <li><a href="productgird.html">túi xách</a></li>
                              <li><a href="productgird.html">bóp ví</a></li>
                              <li><a href="productgird.html">balô</a></li>
                              <li><a href="contact.html">liên hệ</a></li>
                           </ul>
=======
>>>>>>> c764c7c79dacccbdf12b4a95972b6603c77daaa0
                        </div>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">BaLô</a>
                        <div class="dropdown-menu mega-menu">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <ul class="mega-menu-links">                                   
                                    <li><a href="/">K Swiss</a></li>
                                    <li><a href="/">Linoza</a></li>
                                    <li><a href="/">Sakos zen</a></li>
                                    <li><a href="/">NaZa</a></li>                                                                 
                                </ul>
                            </div>
                        </div>
                        </div>
                    </li>
                    <li><a href="/">liên hệ</a></li>
                </ul>
            </div>
            
            <form>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search">
                    <div class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                    </div>
                </div>
            </form>
=======
						<ul class="option col-sm-2 col-xs-2 col-lg-2">
                           <li id="search" class="search">
                              <form><input class="search-submit" type="submit" value=""><input class="search-input" placeholder="Enter your search term..." type="text" value="" name="search"></form>
                           </li>
                           
                        </ul>
                     </div>
                  </div>
               </div>ƒ
>>>>>>> 768cb0993107d04915726f8b7cf7e478c1242e2b
            </div>
<<<<<<< HEAD
         </div>
=======
<a href="/cart">Cart</a>
<a href="/">Home</a>
>>>>>>> c7019c3b9978f29c57e8c95c38ca8228e9ae402f
>>>>>>> e960ab6c972281df09d8db769ee3f3db4221efcd
=======
        </div>
    </div>
</div>
</div>
>>>>>>> c764c7c79dacccbdf12b4a95972b6603c77daaa0
=======
                                </div>
                            </div>
                            </div>
                        </li>
                         <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Túi xách</a>
                            <div class="dropdown-menu mega-menu">
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <ul class="mega-menu-links">                                   
                                        <li><a href="/">Saint Laurent</a></li>
                                        <li><a href="/">Jimmy Choo</a></li>
                                        <li><a href="/">Valentino</a></li>
                                        <li><a href="/">Gucci</a></li>
                                        <li><a href="/">Bottega Veneta</a></li>
                                        <li><a href="/">Stella Mcartney</a></li>                                    
                                        <li><a href="/">Bally</a></li>                                    
                                        <li><a href="/">Da pu</a></li>
                                        <li><a href="/">Salvatore Ferragamo</a></li>
                                        <li><a href="/">NaZa</a></li>  
                                    </ul>
                                </div>
                            </div>
                            </div>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Bóp Ví</a>
                            <div class="dropdown-menu mega-menu">
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <ul class="mega-menu-links">                                   
                                        <li><a href="/">Louis Vuitton</a></li>
                                        <li><a href="/">Dior</a></li>
                                        <li><a href="/">Alexander McQueen</a></li>
                                        <li><a href="/">Bulgari</a></li>                                  
                                        <li><a href="/">Victoria Beckham</a></li>                                
                                    </ul>
                                </div>
                            </div>
                            </div>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">BaLô</a>
                            <div class="dropdown-menu mega-menu">
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <ul class="mega-menu-links">                                   
                                        <li><a href="/">K Swiss</a></li>
                                        <li><a href="/">Linoza</a></li>
                                        <li><a href="/">Sakos zen</a></li>
                                        <li><a href="/">NaZa</a></li>                                                                 
                                    </ul>
                                </div>
                            </div>
                            </div>
                        </li>
                        <li><a href="/">liên hệ</a></li>
                        <li class="option-cart">
                                  <a href="#" class="cart-icon">cart <span class="cart_no">01</span></a>
                                  <ul class="option-cart-item">
                                     <li>
                                        <div class="cart-item">
                                           <div class="image"><img src="images/icon.png" alt=""></div>
                                           <div class="item-description">
                                              <p class="name">Bally</p>
                                           </div>
                                           <div class="right">
                                              <a href="#" class="remove"><img src="images/Bally.png" alt="remove"></a>
                                           </div>
                                        </div>
                                     </li>
                                  </ul>
                        </li>
                    </ul>
                </div>
                
                <form>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search">
                        <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                        </div>
                    </div>
                </form>        
            </div>
        </div>
    </div>
    </div>
>>>>>>> 287cb3d1fdc7c63945b338320a7cae9260df6bec
=======
                                </div>
                            </div>
                            </div>
                        </li>
                         <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Túi xách</a>
                            <div class="dropdown-menu mega-menu">
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <ul class="mega-menu-links">                                   
                                        <li><a href="/">Saint Laurent</a></li>
                                        <li><a href="/">Jimmy Choo</a></li>
                                        <li><a href="/">Valentino</a></li>
                                        <li><a href="/">Gucci</a></li>
                                        <li><a href="/">Bottega Veneta</a></li>
                                        <li><a href="/">Stella Mcartney</a></li>                                    
                                        <li><a href="/">Bally</a></li>                                    
                                        <li><a href="/">Da pu</a></li>
                                        <li><a href="/">Salvatore Ferragamo</a></li>
                                        <li><a href="/">NaZa</a></li>  
                                    </ul>
                                </div>
                            </div>
                            </div>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Bóp Ví</a>
                            <div class="dropdown-menu mega-menu">
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <ul class="mega-menu-links">                                   
                                        <li><a href="/">Louis Vuitton</a></li>
                                        <li><a href="/">Dior</a></li>
                                        <li><a href="/">Alexander McQueen</a></li>
                                        <li><a href="/">Bulgari</a></li>                                  
                                        <li><a href="/">Victoria Beckham</a></li>                                
                                    </ul>
                                </div>
                            </div>
                            </div>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">BaLô</a>
                            <div class="dropdown-menu mega-menu">
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <ul class="mega-menu-links">                                   
                                        <li><a href="/">K Swiss</a></li>
                                        <li><a href="/">Linoza</a></li>
                                        <li><a href="/">Sakos zen</a></li>
                                        <li><a href="/">NaZa</a></li>                                                                 
                                    </ul>
                                </div>
                            </div>
                            </div>
                        </li>
                        <li><a href="/">liên hệ</a></li>
                        <li class="option-cart">
                                  <a href="#" class="cart-icon">cart <span class="cart_no">01</span></a>
                                  <ul class="option-cart-item">
                                     <li>
                                        <div class="cart-item">
                                           <div class="image"><img src="images/icon.png" alt=""></div>
                                           <div class="item-description">
                                              <p class="name">Bally</p>
                                           </div>
                                           <div class="right">
                                              <a href="#" class="remove"><img src="images/Bally.png" alt="remove"></a>
                                           </div>
                                        </div>
                                     </li>
                                  </ul>
                        </li>
                    </ul>
                </div>
                
                <form>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search">
                        <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                        </div>
                    </div>
                </form>        
            </div>
        </div>
    </div>
    </div>
>>>>>>> f82c348fd70915636e9a93e4cd2e4515c7ef3e11
