<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-2">
                <div class="logo">
                    <a href="/">
                        <img src="/images/Triple.png" alt="MyShop" style="width: 80px; margin-left: 100px;">
                    </a>
                </div>
            </div>
            <div class="col-md-10 col-sm-10">
                <div class="clearfix"></div>
                <div class="header_bottom row">
                    <div class="navbar-collapse collapse col-sm-10 col-xs-10 col-lg-10">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Thương hiệu</a>
                                <div class="dropdown-menu mega-menu">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <ul class="mega-menu-links">
                                                <li>
                                                    <a href="/products">Louis Vuitton</a>
                                                </li>
                                                <li>
                                                    <a href="/products">Saint Laurent</a>
                                                </li>
                                                <li>
                                                    <a href="/products">Dior</a>
                                                </li>
                                                <li>
                                                    <a href="/products">Alexander McQueen</a>
                                                </li>
                                                
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Loại</a>
                                <div class="dropdown-menu mega-menu">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <ul class="mega-menu-links">
                                                <li>
                                                    <a href="/products">Da</a>
                                                </li>
                                                <li>
                                                    <a href="/products">Vải thêu</a>
                                                </li>
                                                <li>
                                                    <a href="/products">Polyester</a>
                                                </li>
                                                <li>
                                                    <a href="/products">Hi-Tech</a>
                                                </li>
                                                <li>
                                                    <a href="/products">Nhựa cứng</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            
                            <li>
                                <a href="/">Liên hệ</a>
                            </li>
                            <form>
                                <div class="input-group col-md-4 pull-left">
                                    <input type="text" class="form-control" placeholder="Search">
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" type="submit">
                                            <i class="glyphicon glyphicon-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <li class="pull-right">
                                <a href="/cart">
                                    <span class="glyphicon glyphicon-shopping-cart"></span>
                                </a>
                            </li>
                            
                            <li class="dropdown pull-right">
                                {{#if userdisplayname}}
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    {{#with userdisplayname}}
                                        {{this}}
                                    {{/with}}
                                </a>
                                <div class="dropdown-menu mega-menu">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6">
                                            <ul class="mega-menu-links">
                                                <li>
                                                    <a href="/user">Thông tin cá nhân</a>
                                                </li>
                                                <li>
                                                    <a href="/user/logout">Đăng xuất</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                {{else}}
                                    <a data-toggle="modal" href="javascript:;" data-target="#loginModal" class="dropdown-toggle" id="loginbtn">Login</a>   
                                {{/if}}

                                
                            </li>                           
                        </ul>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
  
</div>
<div class="shop-login">
    <div id="loginModal" class="modal fade" role="dialog">
        <div class="modal-dialog" style="width: 28%">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <button type="button" id="btnExit" class="pull-right" style="background-color: transparent;border-width: 0px;" data-dismiss="modal">
                            <span class="glyphicon glyphicon-remove" style="font-size: 20px;"/>
                        </button>
                    </div>
                    <form id ="login-form" action="/login" method="post">
                        <div class="container-fluid">
                            <img src="/images/logo-login.png" class="center" style="width: 20%;float:none;">
                            <div class="text-center">
                                <h3>Login</h3>
                            </div>
                            <div class="row">
                                <div class="input-group col-md-10 col-md-offset-1">
                                    <div class="input-group-addon">
                                        <span class="glyphicon glyphicon-user"/>
                                    </div>
                                    <input type="text" name="username" id="username" class="form-control" value="" required="required" title="" placeholder="Nhập tên tài khoản của bạn">
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-group col-md-10 col-md-offset-1">
                                    <div class="input-group-addon">
                                        <span class="glyphicon glyphicon-lock"/>
                                    </div>
                                    <input type="password" name="password" id="password" class="form-control" value="" required="required" placeholder="Nhập mật khẩu của bạn">
                                </div>
                            </div>
                            <div class="row">
                                <div class="checkbox col-md-offset-1">
                                    <label>
                                        <input type="checkbox" name="remember-id" value="">
                                        Nhớ lấy tôi vào lần đăng nhập sau
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <button type="submit" class="btn btn-success center-block">Đăng nhập</button>
                            </div>
                            <div class="row pull-right">
                                <a id="signup" href="javascript:;">Đăng kí | </a>
                                <a href="javascript:;" class="pull-right">Quên mật khẩu</a>
                            </div>
                        </div>
                    </form><!--End form login-->
                    <form id="signup-form" action="/register" method="post" style="display: none;">
                        <div class="container-fluid">
                            <img src="/images/logo-login.png" class="center-block" style="width: 20%;">
                            <div class="text-center">
                                <h3>Register</h3>
                            </div>
                             <div class="row" style="margin-top: 20px;margin-bottom: 20px;">
                                <h6 style="margin-bottom: 5px;">Họ tên:</h6>
                                <input type="text" name="displayname" id="inputName" class="form-control" value="" title="" placeholder="Nhập họ tên">
                            </div>
                            <div class="row" style="margin-top: 20px;margin-bottom: 20px;">
                                <h6 style="margin-bottom: 5px;">Tên đăng nhập:</h6>
                                <input type="text" name="username" id="username" class="form-control" value="" required="required" title="" placeholder="Tên đăng nhập*">
                            </div>
                            <div class="row" style="margin-top: 20px;margin-bottom: 20px;">
                                <h6 style="margin-bottom: 5px;">Mật khẩu:</h6>
                                <input type="password" name="password" id="password" class="form-control" required="required" title="" placeholder="Nhập mật khẩu của bạn*">
                            </div>
                            <div class="row" style="margin-top: 20px;margin-bottom: 20px;">
                                <h6 style="margin-bottom: 5px;">Xác nhận mật khẩu*:</h6>
                                <input type="password" name="retype_password" id="retype_password" class="form-control" required="required" title="" placeholder="Xác nhận lại mật khẩu*">
                            </div>
                            <div class="row" style="margin-top: 20px;margin-bottom: 20px;">
                                <h6 style="margin-bottom: 5px;">Số điện thoại:</h6>
                                <input type="number" name="phone" id="number" class="form-control" value="" title="" placeholder="Nhập số điện thoại của bạn">
                            </div>
                            <div class="row" style="margin-top: 20px;margin-bottom: 20px;">
                                <h6 style="margin-bottom: 5px;">Email:</h6>
                                <input type="email" name="email" id="email" class="form-control" value="" title="" placeholder="Nhập email của bạn">
                            </div>
                            <div class="row" style="margin-top: 20px;margin-bottom: 20px;">
                                <h6 style="margin-bottom: 5px;">Ngày sinh:</h6>
                                <input type="date" name="birthday" id="input" class="form-control" value="" title="">
                            </div>
                            <div class="row form-inline" style="margin-top: 20px;margin-bottom: 20px;">
                                <input type="text" name="" id="input" class="col-md-8 form-control" value="" title="" placeholder="Nhập mã xác nhận">
                                <img class="col-md-4" src="/images/capcha.png">
                            </div>
                            <div class="container-fluid" style="margin-top: 20px;margin-bottom: 20px;">
                                <div class="g-recaptcha col-md-12 center-block" data-sitekey="6LcesFUUAAAAAJ9CIog9x0js4AowNVfJNYTgvr_K"></div>
                            </div>
                            <div class="row" style="float: right; margin-top: 20px;margin-bottom: 20px;">
                                <button type="submit" class="btn btn-success right">Đăng kí</button>
                                <button type="reset" class="btn btn-danger right" id="btnExit">Nhập lại</button>
                            </div>

                        </div>
                </form><!--end form sign up-->
                </div>
            </div>
        </div>
    </div>
</div>

 <script>
    var signup = document.getElementById("signup");
    var btnExit = document.getElementById("btnExit");
    var loginform = document.getElementById("login-form");
    var signupform = document.getElementById("signup-form");
    var loginbtn = document.getElementById("loginbtn");
    loginbtn.onclick = function open2() {
        // alert('2222222222222222222222222222');
        loginform.style.display = "block";
        signupform.style.display = "none";   
    }
    signup.onclick = function open(){
        // alert('111111111111111111111111');
        loginform.style.display = "none";
        signupform.style.display = "block";
    }
    btnExit.onclick = function close(){

    }
    $("#loginModal").on("hide.bs.modal", function () {
        loginform.style.display = "block";
        signupform.style.display = "none";
    });

</script>