.header .logo {
    height: auto;
    width:150px;
}
.header .navbar-collapse.collapse
{
    margin-right: 100px;
    margin-top: 50px;
}
.header .container{
    width: 100%;
    margin-bottom: 100;
    background-color: #ca6f1e
}

.header .header_bottom{
    float: left;
    width: 100%;
    margin-top: -50px;
    
}
.header .search-submit{
    width: 50px;
    height: 50px;
    margin-top: 50px;
    margin-left: 100px;
}
.header .remove{
    width: 120px;
    height: 350px;
    margin-top: -20px;
}
 .input-group .form-control:first-child {
    
  margin-top: 80px;
}
.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
    margin-top: 80px;
}
.option-cart {
    margin-left: 100px;
    margin-top: 10px;
}
.footer-info {
    position: relative;
    padding: 30px 0;
    color: aliceblue;
    background-color: #ca6f1e;
}