<!DOCTYPE html>
<html>
<head>
	<title>title</title>
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" />
	<link rel='stylesheet' href='style2.css' />
	<link rel="stylesheet" href="style.css">

</head>
<body>
	<div class="order-detail col-xs-12 col-md-10 col-md-offset-1">
		<div class="order">
			<h2>Đơn hàng: ORDER001</h2>
			<br>
			<br>
			<table class="shop-table ">
				<thead>
					<tr>
						<td> <h5> Sản phẩm</h5> </td>
						<td></td>
						<td><h5>Loại</h5></td>
						<td><h5>Đơn giá</h5></td>
						<td><h5>Số lượng</h5></td>
						<td><h5>Thành tiền</h5></td>
					</tr>
				</thead>	
				<tbody>
					
					<tr class="table-row">
						<td>
							<img src="../Project/Shop/public/assets/image/Bally.jpg" alt="" class="shop-image">
						</td>
						<td>
							<div class="shop-details">
								<div class="productname">
									<h6>Lincoln Corner Unit Products</h6>
									<p class='color-red'>BL0004</p>
								</div>

							</div>
						</td>
						<td>
							Da
						</td>
						<td>

							2000000<sup>đ</sup>
							
						</td>
						<td>
							1
						</td>
						<td>
							
							<strong class="red">
								200000<sup>đ</sup>
							</strong>

						</td>

					</tr>
					<tr class="table-row">
						<td>
							<img src="../Project/Shop/public/assets/image/Bally.jpg" alt="" class="shop-image">
						</td>
						<td>
							<div class="shop-details">
								<div class="productname">
									<h6>Lincoln Corner Unit Products</h6>
									<p class='color-red'>BL0004</p>
								</div>

							</div>
						</td>
						<td>
							Da
						</td>
						<td>

							2000000<sup>đ</sup>
							
						</td>
						<td>
							1
						</td>
						<td>
							
							<strong class="red">
								200000<sup>đ</sup>
							</strong>

						</td>

					</tr>
					<tr class="table-row">
						<td>
							<img src="../Project/Shop/public/assets/image/Bally.jpg" alt="" class="shop-image">
						</td>
						<td>
							<div class="shop-details">
								<div class="productname">
									<h6>Lincoln Corner Unit Products</h6>
									<p class='color-red'>BL0004</p>
								</div>

							</div>
						</td>
						<td>
							Da
						</td>
						<td>

							2000000<sup>đ</sup>
							
						</td>
						<td>
							1
						</td>
						<td>
							
							<strong class="red">
								200000<sup>đ</sup>
							</strong>

						</td>

					</tr>
				</tbody>

			</table>


		</div>

	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>