.products-listItem {
	float: left;
	position: relative;
	width: 100%;
	margin-bottom: 15px;
}
.products-listItem .products {
	border: 1px solid #e1e1e1;
	position: relative;
	overflow: hidden;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: #fff;
	padding: 15px;
	margin-top: 15px;
	min-height: 150px;
}
.products-listItem .products:hover {
	background: #fff;
	border-color: #dddddd;
	-webkit-box-shadow: 0 0 5px 1px #d3d3d3;
	box-shadow: 0 0 5px 1px #d3d3d3;
}
.products-listItem .thumbnail {
	border: medium none;
	float: left;margin: 0;
	padding: 15px 10px 5px 10px;
	position: relative;
	width: 18%;
	height: auto;
}
.product-list-description {
	float: right;
	width: 75%;
}
.product-list-description .productname {
	font-size: 20px;
	color: #434343;
	text-align: left;
	margin-top: 15px;
	font-weight: 400;
}
.product-price {
	margin-top: -10px;
/*	text-decoration: line-through;*/
	font-size: 18px;
	color: #666666;
}
.list_bottom {
	position: relative;
	/*width: 100%;*/
	padding-top: 10px;
}
.list_bottom .button_group {
	/*width: auto;*/
	float: left;
}
.product-list-description .price {
	float: left;
	width: 30%;
}
.product-list-description .new_price {
	float: right;
	font-size: 28px;
	color: #ff3636;
	margin-right: 10px;
}
.product-list-description .new_price sup {
	font-size: 18px;
}
/*.product-list-description .old_price {
	float: left;
	text-decoration: line-through;
	font-size: 18px;
	color: #666666;
}*/
/*.product-list-description .old_price sup {
	font-size: 10px;
}*/
.product-list-description .button {
	margin: 0 5px;
}
.list_bottom {
	position: relative;
	width: 100%;
	left: 0;
}
.product-list-description .price, .list_bottom .button_group {
	width: 100%;
	text-align: center;
}
.button {
	margin-bottom: 10px;
}
.products .button_group {
	float: left;
	margin-bottom: 10px;
	/*width: 100%;*/
	text-align: center;
}
.button, button {
	background: #fff;
	padding: 10px 20px;
	border: 1px solid #cccccc;
	font-size: 14px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	outline: none;
}
.button:hover, button:hover {
	border: 1px solid #dddddd;
	color: #fe5252;
}
.remove {
	position: absolute;
	right: 15px;
	top: 15px;z-index: 99;
	padding: 10px;
	font-size: 18px;
	color: #000;
	/*background: #dddddd;*/
	-webkit-border-radius: 10px;
	/*border-radius: 10px;*/
}

.remove:hover {
	color: #ff3636;
}


/*Userinfo*/
.background-color-white {
	background-color: #fff;
}

a {
	color: #444;
}


.user-info .shop-table tr{
	display: inherit;
}
/*Don mua*/

.shop-table {
	/*width: 51%;*/
	position: unset;
	padding-left: 0;
}

.shop-table .table-row {
    margin-bottom: 0;
}
.shop-table tbody tr td:first-child {
	border-radius: 0;
}

.shop-table tbody tr td:last-child {
	border-radius: 0;
}
.shop-table-image {
	width: 100%;
}

/*.user-info .shop-table {
	border: 1px solid #ccc;
	border-radius: 15px;
}

.user-info .order {
	padding: 5px;
	bo
}*/
.user-info .form-border {
	background: #fff;
	padding: 20px;
	border: 1px solid #ccc;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	outline: none;
}

.user-info .nav {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}
.user-info .user-option {
	margin-top: 20px;
}
.user-info .user-option div {
	font-size: 16px;
	width: 100%;
	margin: 0;
	padding: 15px;
}

./*user-info .user-option div:hover {
	background-color: #eee;
}*/

.text-align-right {
	text-align: right;
}

.user-info .padding-left-30px {
	width: 100%;
	padding-left: 30px;
}

.user-info .padding-right-30px {
	width: 100%;
	padding-right: 30px;
}


.user-info {
	margin-top: 100px;
	margin-bottom: 100px;
	background: #fff;
}

.user-info #table-orders {
/*	background-color: #fff;
	padding: 20px;
	border: 1px solid #eee;
	border-radius: 15px;*/
	display: none;
}

.user-info .order-title {
	padding-bottom: 30px;
}

.user-info .order {
	margin-bottom: 40px;
}

.user-info #table-user-info {
	font-size: 16px;
}

.user-info #table-user-info .text-align-right {
	text-align: right;
}

.user-info .table {
	padding: 60px;
}
.color-bbb {
	color: #bbb;
}

.user-info .change-info {
	color: #66e;
}

.user-info .change-info:hover {
	color: #ff5252;
}

.glyphicon-user {
	color: #99f;
}

.glyphicon-list-alt {
	color: #dd0;
}

.color-red {
	color: #ff5252;
}

.color-yellow {
	color: #dd0;
}

.color-blue {
	color: #00f;
}

body {
	background-color: #fff;
}

.user-info #myPasswordModal .modal-body {
	height: 100px;
}

.user-info #myPasswordModal .modal-body .pw-text {
	margin-bottom: 40px;
}

.order-detail .table-row {
	background-color: #fff;
}

.user-info .order-detail .shop-table td:nth-child(2) {
	width: 40%;
}

.order-detail {
	margin-top: 100px;
}

.user-info .user-info-menu {
	border-right: 1px solid #ccc;
	margin-right: 50px;
}

.user-info #title-display-name {
	padding-bottom: 8px;
}


/*Admin*/

.admin-page .shop-table tr{
	display: inherit;
}

.admin-page .form-border {
	background: #fff;
	padding: 20px;
	border: 1px solid #ccc;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	outline: none;
}

.admin-page .nav {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}
.admin-page .user-option {
	margin-top: 20px;
}
.admin-page .user-option div {
	font-size: 16px;
	width: 100%;
	margin: 0;
	padding: 15px;
}

.admin-page .padding-left-30px {
	width: 100%;
	padding-left: 30px;
}

.admin-page .padding-right-30px {
	width: 100%;
	padding-right: 30px;
}


.admin-page {
	margin-top: 100px;
	margin-bottom: 100px;
	background: #fff;
}

.admin-page #table-orders {
/*	background-color: #fff;
	padding: 20px;
	border: 1px solid #eee;
	border-radius: 15px;*/
	display: none;
}

.admin-page .order-title {
	padding-bottom: 30px;
}

.admin-page .order {
	margin-bottom: 20px;
}

.admin-page .table {
	padding: 60px;
}

.admin-page .change-info:hover {
	color: #ff5252;
}


.admin-page .user-info-menu {
	border-right: 1px solid #ccc;
	margin-right: 50px;
}

.admin-page #title-display-name {
	padding-bottom: 8px;
}
/*Admin*/

.admin-page .shop-table-products td:nth-child(3) {
	width: 20%;
}

.admin-page .shop-table-products td:nth-child(1) {
	width: 10%;
}

.admin-page .shop-table-products td:nth-child(6) {
	width: 7%;
}

.admin-page .shop-table-products td:nth-child(2) {
	width: 10%;
}

.admin-page input[type="text"] {
	width: 60px;
}