.logo {
    height: auto;
    width:150px;
}
.navbar-collapse.collapse
{
    margin-right: 100px;
    margin-top: 50px;
    height: ;
}
.container{
    width: 1170px;
    margin-bottom: 100;
}
.row{
    margin-right: -400px;
}
.header{
    /* margin-top: -50px; */
    background-color: darkorange
}
.header_bottom{
    float: left;
    width: 100%;
    margin-top: -50px;
    
}
.search-submit{
    width: 50px;
    height: 50px;
    margin-top: 50px;
    margin-left: 100px;
}
.dropdown{
    color: darkred
    
}
.form-control {
    position: relative;
    z-index: 2;
    float: left;
    margin-top: 80px;
    width: 100%;
}
.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
    z-index: 2;
    margin-left: -1px;
    margin-bottom: -80px;
}
.remove{
    width: 120px;
    height: 350px;
    margin-top: -20px;
}