	<div class="admin-page">
		<div class="col-md-2 col-md-offset-2 user-info-menu">

			<a href="#"><h3  id="title-display-name">Admin</h3></a>
			<h7>Trang quản trị - Admin</h7>
			<ul class="user-option"> 
				<div id="list-user-info">
					<span class="glyphicon glyphicon-user"></span> 
					<span>&nbsp;Quản lý sản phẩm</span>
				</div> 
				<div id="list-orders">
					<span class="glyphicon glyphicon-list-alt"></span> 
					<span>&nbsp;Quản lý đơn hàng</span>

				</div> 
			</ul>
		</div>
<!-- 	<div class="col-md-6">
		&nbsp;
		&nbsp;
	</div> -->
	<div class="col-xs-12 col-md-7 form-border" id="table-products">
		<div class="admin-products">
			<table class="shop-table shop-table-products">
				<thead>
					<tr>
						<td> <h6>Mã số</h6> </td>
						<td> <h6> Hình ảnh</h6> </td>
						<td>Tên</td>
						<td><h6>Loại</h6></td>
						<td><h6>Nhà sản xuất</h6></td>
						<td><h6>Số lượng</h6></td>
						<td><h6>Đơn giá</h6></td>
						<td>Thao tác</td>
					</tr>
				</thead>	
				<tbody>
					
					<tr class="table-row">
						<td>BL0001</td>
						<td>
							<img src="/assets/image/Bally.jpg" alt="" class="shop-image">
						</td>
						<td>
							<div class="shop-details">
								<div class="productname">
									<h6>Lincoln Corner Unit Products</h6>
									<p class='color-red'>BL0004</p>
								</div>

							</div>
						</td>
						<td>
														<select>
								<option value="1" selected="selected">
									Da
								</option>
								<option value="1">
									Vải thêu
								</option>
								<option value="2">
									Nỉ
								</option>
							</select>
						</td>
						<td>

														<select>
								<option value="1" selected="selected">
									LV
								</option>
								<option value="1">
									Levi's
								</option>
								<option value="2">
									Crumpler
								</option>
							</select>
							
						</td>
						<td>
							<input type="text" value="200">
						</td>
						<td>
							
							<strong class="red">
								200000<sup>đ</sup>
							</strong>

						</td>
						<td><a href="javasript:;">Cập nhật</a></td>

					</tr>
					<tr class="table-row">
						<td>BL0001</td>
						<td>
							<img src="/assets/image/Bally.jpg" alt="" class="shop-image">
						</td>
						<td>
							<div class="shop-details">
								<div class="productname">
									<h6>Lincoln Corner Unit Products</h6>
									<p class='color-red'>BL0004</p>
								</div>

							</div>
						</td>
						<td>
														<select>
								<option value="1" selected="selected">
									Da
								</option>
								<option value="1">
									Vải thêu
								</option>
								<option value="2">
									Nỉ
								</option>
							</select>
						</td>
						<td>

														<select>
								<option value="1" selected="selected">
									LV
								</option>
								<option value="1">
									Levi's
								</option>
								<option value="2">
									Crumpler
								</option>
							</select>
							
						</td>
						<td>
							<input type="text" value="200">
						</td>
						<td>
							
							<strong class="red">
								200000<sup>đ</sup>
							</strong>

						</td>
						<td><a href="javasript:;">Cập nhật</a></td>

					</tr>
					<tr class="table-row">
						<td>BL0001</td>
						<td>
							<img src="/assets/image/Bally.jpg" alt="" class="shop-image">
						</td>
						<td>
							<div class="shop-details">
								<div class="productname">
									<h6>Lincoln Corner Unit Products</h6>
									<p class='color-red'>BL0004</p>
								</div>

							</div>
						</td>
						<td>
														<select>
								<option value="1" selected="selected">
									Da
								</option>
								<option value="1">
									Vải thêu
								</option>
								<option value="2">
									Nỉ
								</option>
							</select>
						</td>
						<td>

														<select>
								<option value="1" selected="selected">
									LV
								</option>
								<option value="1">
									Levi's
								</option>
								<option value="2">
									Crumpler
								</option>
							</select>
							
						</td>
						<td>
							<input type="text" value="200">
						</td>
						<td>
							
							<strong class="red">
								200000<sup>đ</sup>
							</strong>

						</td>
						<td><a href="javasript:;">Cập nhật</a></td>

					</tr>
				</tbody>

			</table>


		</div>
	</div>

	<div  id="table-orders" class="col-xs-12 col-md-7 form-border">


		<div class="order">


			<div class="order-title">


				<h4 class="pull-left">Đơn hàng 1 - ORDER001</h4>
				<select class="color-yellow pull-right" id="delivery">
					<option class="will-deliver color-red" value="0">
						Chưa giao
					</option>
					<option value="1" class="color-blue" id="delivering" selected="selected">
						Đang giao
					</option>
					<option value="2" class="color-blue" id="did-deliver">
						Đã giao
					</option>
				</select>
				<!-- <div class="dropdown pull-right">
					<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						Đã giao
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
						<li><a href="javascript:;">Đã giao</a></li>
						<li><a href="javascript:;">Đang giao</a></li>
						<li><a href="javascript:;">Chưa giao</a></li>
					</ul>
				</div> -->
			</div>	
			<table class="shop-table ">
<!-- 				<thead>
						<tr>
							<td	 class="col-md-2">a</td>
							<td	 class="col-md-4">2</td>
							<td	 class="col-md-2">3</td>
							<td	 class="col-md-2">4</td>
							<td	 class="col-md-2">5</td>
						</tr>
					</thead>	 -->
					<tbody>

						<tr class="table-row">
							<td>ORDER0001</td>
							<td>
								<img src="/assets/image/Bally.jpg" alt="" class="shop-table-image">
							</td>
							<td>
								<div class="shop-details">
									<div class="productname">
										Lincoln Corner Unit Products
									</div>

								</div>
							</td>
							<td>
								<!-- <h5> -->
									2000000<sup>đ</sup>
									<!-- </h5> -->
								</td>
								<td>
									1
								</td>
								<td>
									<!-- <h5> -->
										<strong class="red">
											200000<sup>đ</sup>
										</strong>
										<!-- </h5> -->
									</td>
									<!-- <td>Đã giao</td> -->
								</tr>

								<tr class="table-row">
									<td>ORDER0001</td>
									<td>
										<img src="/assets/image/Da pu.jpg" alt="">
									</td>
									<td>
										<div class="shop-details">
											<div class="productname">
												Lincoln Corner Unit Products
											</div>

										</div>
									</td>
									<td>
										<!-- <h5> -->
											200000<sup>đ</sup>
											<!-- </h5> -->
										</td>
										<td>
											2
										</td>
										<td>
							<!-- <h5>
								<strong class="red"> -->
									<strong class="red">
								200000<sup>đ</sup>
							</strong>
								<!-- </strong>
								</h5> -->

							</td>
							<!-- <td>Đã giao</td> -->
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="6">
								<h4  class="pull-right">
									Tổng tiền: 100000000VND
								</h4>
								
							</td>
						</tr>
					</tfoot>
				</table>
			</div>

			<!-- order -->
			
		</div>

			<!-- order -->
		</div>

		<!-- Trigger the modal with a button -->
	</div>
</div>
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script>
	var delivery = document.getElementById("delivery");
	delivery.onchange = function() {
		// alert(delivery.value);
		if (delivery.value == 0) {
			delivery.style.color = "#ff5252";
		} else if (delivery.value == 1) {
			delivery.style.color = "#dd0";
		} else {
			delivery.style.color = "#00f";
		}
	}

	var listuserinfo = document.getElementById("list-user-info");
	var listorders = document.getElementById("list-orders");
	listuserinfo.style.backgroundColor = "#eee";
	listuserinfo.onclick = function() {
		var orders = document.getElementById("table-orders");
		orders.style.display = 'none';
		var products = document.getElementById("table-products");
		products.style.display = 'block';
		listuserinfo.style.backgroundColor = "#ddd";
		listorders.style.backgroundColor = "unset";
	}


	listorders.onclick = function() {
		// alert("asd");
		var orders = document.getElementById("table-orders");
		orders.style.display = 'block';
		var products = document.getElementById("table-products");
		products.style.display = 'none';
		listorders.style.width = '100%';
		listorders.style.backgroundColor = "#ddd";
		listuserinfo.style.backgroundColor = "unset";
	}


</script>
