<div class="row">
	<div class="col-md-8 col-md-offset-2">

		<div>

			<ul class="products-listItem">
				<li class="products">
					<a class="remove">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					</a>
					<div class="thumbnail">
						<img src="/assets/image/Bally.jpg" alt="Product Name">
					</div>
					<div class="product-list-description">
						<div class="productname">
							Lincoln Corner Unit Products
						</div>
						<p>
							<p class="product-price">
								5.000.000
								<sup>
									đ
								</sup>
							</p>
						</p>
						<p>
							Loại: Da
						</p>
						<p>
							Nhà sản xuất: LV
						</p>

						<div class="price">

							<span class="new_price">
								450.00
								<sup>
									đ
								</sup>
							</span>
							<span class="new_price">Tổng:</span>

							<!-- <div class="list_bottom"> -->

								<div class="button_group">
									<button class="button">
										<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
									</button>
									
									<i class="button">
										1
									</i>
									
									<button class="button favorite">
										<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
									</button>
								</div>
								<!-- </div> -->
							</div>

						</div>
					</li>
					
				</ul>
			</div>
		</div>
	</div>	
</div>

<div class="col-md-8 col-md-offset-2 product-payment">
	<div class="col-md-4 col-md-offset-6 product-payment">
		<span>Tổng tiền hàng (2 sản phẩm): 
			<span>
				10.000.000
				<sup>
					đ
				</sup>
			</span>
		</span>
		
	</div>
	
	<button class="button pull-right">Thanh Toán</button>
	

	
</div>

