<div class="payment col-md-8 col-sm-8">
	<form action="/cart/payment" method="post" accept-charset="utf-8">

		
		<table class="table"> 
			<h4>Thanh toán hóa đơn</h4>
			<p>Dịch vụ hỗ trợ COD</p>
			{{#if isFailed}}
			<br>
			<p style="color: #ff5252;">Thông tin không hợp lệ, vui lòng điền đầy đủ thông tin.</p>
			{{/if}}
			{{#with user}}
			<tbody> 
				<tr> 
					<th class="col-md-3 text-align-right color-bbb" scope="row"><span class="text-align-right">Họ và tên người nhận*</span>	</th> 
					<td class="padding-left-30px"><input type="text" name="receivername" value="{{this.displayname}}" class="col-md-6"></td> 
				</tr>
				<tr> 
					<th class="col-md-3 text-align-right color-bbb" scope="row"><span class="text-align-right">Số điện thoại người nhận*</span>	</th> 
					<td class="padding-left-30px"><input type="text" name="receiverphone" value="{{this.phone}}" class="col-md-6"></td> 
				</tr> 
				<tr> 
					<th class="col-md-3 text-align-right color-bbb" scope="row">Địa chỉ nhận hàng*</th> 
					<td class="padding-left-30px"><input type="text" name="receiveraddress" class="col-md-8"></td> 
				</tr>
			</tbody> 
			{{/with}}
		</table>
		{{#with totalmoney}}
		<div class="col-md-4 pull-left">
			<h5>Tổng tiền: {{this}} VND</h5>
		</div>
		{{/with}}
		<button type="submit" class="pull-right" id='pay'>Thanh toán</button>
	</form>
</div>

<script>
	// var pay = document.getElementById('pay');
	// pay.onclick = function() {
	// 	alert('Thanh toán thành công!');
	// }

</script>
