<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Túi xách ABC</title>
    <link rel="shorcut icon" href="../public/assets/icon/logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../public/css/mycss/sign-in-form.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container-fluid col-md-12">
        <header id="header" style="background-color: #678902;height: 200px;">
            this is my header
        </header>
        <!--end header-->
        <div id="main">
            <div id="myCarousel" class="carousel slide" data-ride="carousel" style="height: 300px;width: 60%;margin-left: auto;margin-right: auto;">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner" style="height:300px;">
                    <div class="item active">
                        <img src="../public/assets/banner/banner-sanpham1.png" alt="Los Angeles">
                    </div>
                    <div class="item">
                        <img src="../public/assets/banner/banner-sanpham2.png" alt="Chicago">
                    </div>
                    <div class="item">
                        <img src="../public/assets/banner/banner-sanpham3.png" alt="New york">
                    </div>
                </div>
                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left"></span>
					<span class="sr-only">Previous</span>
				</a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right"></span>
					<span class="sr-only">Next</span>
				</a>
            </div>
            <!--end slide promotion-->
            <br>
            <div class="btn-group btn-breadcrumb">
                <a href="#" class="btn btn-default">
					<i class="glyphicon glyphicon-home">
						Home
					</i>
				</a>
                <a href="#" class="btn btn-default">
					Túi xách nữ
				</a>
                <a href="#" class="btn btn-default">
					This product
				</a>
            </div>
            <!--End breadcrumb-->
            <br>
            <br>
            <div class="col-md-7" style="height: 700px">
                <img src="../public/assets/Sanpham/hinhsanpham.png" style="width: 100%">
                <div id="slidebar" style="margin-top: 10px;">
                    <div class="col-md-6" style="margin-top: 0px">
                        <a href="#">
						<img class="img-thumbnail" style="width: 30%"  src="../public/assets/Sanpham/sanpham1_1.jpg">
					</a>
                        <a href="#">
						<img class="img-thumbnail" style="width: 30%"  src="../public/assets/Sanpham/sanpham1_2.jpg">
					</a>
                    </div>
                </div>
                <!--end slidebar-->
            </div>
            <!--main picture product-->
            <div class="col-md-5" style="height: 300px;">
                <div id="name-item">
                    <h2>Bucket Bag</h2>
                    <h5><i>(800 lượt xem)</i></h5>
                </div>
                <div id="price-item">
                    <h3>150.000VND</h3>
                </div>
                <div class="selection" style="margin-top: 30px">
                    <div id="selectionsize" class="col-md-8">
                        <div class="form-group">
                            <select class="form-control">
                                <option value="">Chọn kích cỡ bạn muốn</option>
                                <option value="">Size 1</option>
                                <option value="">Size 2</option>
                                <option value="">Size 3</option>
                            </select>
                        </div>
                    </div>
                    <div id="selectionqty" class="col-md-4">
                        <div class="form-group">
                            <select class="form-control">
                                <option value="">Chọn số lượng</option>
                                <option value="">1 cái</option>
                                <option value="">2 cái</option>
                                <option value="">3 cái</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!--end selection-->
                <div id="color">
                    <h3>Color</h3>
                    <div class="color">
                        <a href="#"><img class="img-thumbnail" src="../public/assets/color/black.png" style="margin: 7px;width:50px"></a>
                        <a href="#"><img class="img-thumbnail" src="../public/assets/color/red.png" style="margin: 7px;width:50px"></a>
                        <a href="#"><img class="img-thumbnail" src="../public/assets/color/green.png" style="margin: 7px;width:50px"></a>
                    </div>
                </div>
                <div id="nhasanxuat">
                	<h5>Loại: Da</h5>
                </div>
                <div id="xuatxu">
                	<h5>Xuất xứ: Trung Quốc<h5>
                </div>
                <div id="nhasanxuat">
                	<h5>Nhà sản xuất: Gucci</h5>
                </div>
                <!--end color chosen box-->
              
                <div class="text-center" style="margin-top:50px">
                    <div id="sold-quatity"><h4>Đã có <i><b>300</b></i> người đặt sản phẩm này<h4></div>
                </div>
                <button type="button" class="btn btn-success col-md-6">
                    <h4>Thêm ngay vào giỏ hàng</h4>
                </button>
                <button type="button" class="btn btn-danger col-md-6">
                    <h4>Mua ngay</h4>
                </button>
            </div>
            <!-- infor about product-->
            <div id="detail">
                <div class="col-md-12" style="margin-top:10px">
                    <h3 style="color:#777">
						<span class="glyphicon glyphicon-list-alt"/>
						Details
					</h3>
                    <div class="content-detail">
                        Túi xách nữ tua rua Chanel sang trọng có thiết kế thời trang thanh lịch, nhỏ gọn là phụ kiện không thể thiếu của phái đẹp
                        <br> Túi có khóa kéo tiện dụng đựng những vật dụng cần thiết, đường may đẹp, chắc chắn, cho bạn an tâm sử dụng Họa tiết ô vuông phối cùng tua rua phía trước xinh xắn, dễ thương, quai đeo dạng mắt xích nối liền nhau chắc chắn, thời trang
                        <br> Màu đen thanh lịch, tinh tế dễ dàng kết hợp phụ kiện và trang phục
                        <br> Chất liệu simili bền màu giúp bạn tự tin khi sử dụng lâu dài
                        <br> Kích thước:
                        <br> Dài 25cm, Rộng 16cm, Đáy 7cm
                        <br> Hotline:01234732339
                    </div>
                    <hr>
                </div>
            </div>
            <!--end details-->
            <div id="other-products">
                <div class="col-md-12">
                    <h3 style="color:#777">
						<span class=""/>
						CÁC SẢN PHẨM KHÁC
					</h3>
                    <div class="row">
                        <div id="other-carousel" class="carousel slide" data-interval="1000" data-ride="carousel" data-wrap="true">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#other-carouse" data-slide-to="0" class="active"></li>
                                <li data-target="#other-carouse" data-slide-to="1"></li>
                                <li data-target="#other-carouse" data-slide-to="2"></li>
                            </ol>
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" ">
								<div class="item active ">
									<div class="row ">
										<div class="col-xs-4 ">
											<a href="# ">
												<img src="../public/assets/Sanpham/sanphamkhac_1.jpg " class="img-responsive " style="height: 300px ">
											</a>
										</div>
										<div class="col-xs-4 ">
											<a href="# ">
												<img src="../public/assets/Sanpham/sanphamkhac_2.jpg " class="img-responsive " style="height: 300px ">
											</a>
										</div>
										<div class="col-xs-4 ">
											<a href="# ">
												<img src="../public/assets/Sanpham/sanphamkhac_4.jpg " class="img-responsive " style="height: 300px ">
											</a>
										</div>
									</div>
								</div>
								<div class="item ">
									<div class="row ">
										<div class="col-xs-4 ">
											<a href="# ">
												<img src="../public/assets/Sanpham/sanphamkhac_4.jpg " class="img-responsive " style="height: 300px ">
											</a>
										</div>
										<div class="col-xs-4 ">
											<a href="# ">
												<img src="../public/assets/Sanpham/sanphamkhac_5.jpg " class="img-responsive " style="height: 300px ">
											</a>
										</div>
										<div class="col-xs-4 ">
											<a href="# ">
												<img src="../public/assets/Sanpham/sanphamkhac_6.jpg " class="img-responsive " style="height: 300px ">
											</a>
										</div>
									</div>
								</div>					
							</div>
							<!-- Left and right controls -->
							<a class="left carousel-control " href="#other-carousel " data-slide="prev ">
								<span class="glyphicon glyphicon-chevron-left "></span>
								<span class="sr-only ">Previous</span>
							</a>
							<a class="right carousel-control " href="#other-carousel " data-slide="next ">
								<span class="glyphicon glyphicon-chevron-right "></span>
								<span class="sr-only ">Next</span>
							</a>
						</div>
					</div>
				</div>
			</div><!--end others product-->
		</div><!--end main-->
		<div class="col-md-12 ">
		<hr style="background-color: #FF7F00; height: 4px; width: 100%; ">
		</div>
		<footer class="col-md-12 " style="background-color: #567;height: 200px ">
			This is my footer
			<form id ="login-form " class="modal-backdrop center-block col-md-4 " action="Products.html " method="get " style="height: 400px;background-color: #fff;display: none ">
				<div class="container-fluid ">
					<button type="button " id="btnExit " class="col-md-offset-12 " style="background-color: transparent;border-width: 0px; ">
						<span class="glyphicon glyphicon-remove " style="font-size: 20px; "/>
					</button>
					<img src="../public/images/logo-login.png " class="center-block " style="margin-top:20px; width: 20%; ">
					<div class="text-center ">
						<h3>Login</h3>
					</div>
					<div class="row ">
						<div class="input-group col-md-10 col-md-offset-1 ">
							<div class="input-group-addon ">
								<span class="glyphicon glyphicon-user "/>
							</div>
							<input type="text" name="username " id="username" class="form-control" value="" required="required " pattern="[a-z]" title="" placeholder="Nhập tên tài khoản của bạn">
						</div>
					</div>
					<div class="row ">
						<div class="input-group col-md-10 col-md-offset-1 ">
							<div class="input-group-addon ">
								<span class="glyphicon glyphicon-lock "/>
							</div>
							<input type="password" name="password" id="password" class="form-control" value="" required="required" placeholder="Nhập mật khẩu của bạn">
						</div>
					</div>
					<div class="row ">
						<div class="checkbox">
							<label>
								<input type="checkbox" name="remember-id" value=" ">
								Nhớ lấy tôi vào lần đăng nhập sau
							</label>
						</div>
					</div>
					<div class="row ">
						<button type="submit " class="btn btn-success center-block ">Đăng nhập</button>
					</div>

				</div>
			</form>
			<button id="btn " type="button " class="btn btn-default ">button</button>
		</footer><!--end footer-->
	</div>
	<script>
		var btn = document.getElementById("btnExit ")
		var form = document.getElementById("login-form ")
		var btn1 =document.getElementById("btn ")
		var main = document.getElementById("main ")
		btn.onclick = function close(){
			form.style.display="none "

		}

		btn1.onclick = function open(){
			form.style.display="block ";
			main.style.backgroundColor = '#123';
		}
	</script>
</body>
</html>