<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Túi xách ABC</title>
	<link rel="shorcut icon" href="../public/assets/icon/logo.png">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../public/css/mycss/sign-in-form.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="header">
		<div class="container">
			<div class="row">
				<div class="col-md-2 col-sm-2">
					<div class="logo"><h1 href="index.html"><img src="Triple.png" <h3>MyShop</h3></div>
				</div>
				<div class="col-md-10 col-sm-10">
					<div class="header_top">
					<div class="row">
						<div class="col-md-3">
							<ul class="option_nav">
								<li class="dorpdown">
								<a href="#">Eng</a>
								<ul class="subnav">
									<li><a href="#">Eng</a></li
								</ul>
								</li>
								<li class="dorpdown">
								<a href="#">USD</a>
								<ul class="subnav">
									<li><a href="#">USD</a></li>
									<li><a href="#">UKD</a></li>
									<li><a href="#">FER</a></li>
								</ul>
								</li>
							</ul>
						</div>
						<div class="col-md-6">
							<ul class="topmenu">
								<li><a href="#">About Us</a></li>
								<li><a href="#">News</a></li>
								<li><a href="#">Service</a></li>
								<li><a href="#">Recruiment</a></li>
								<li><a href="#">Media</a></li>
								<li><a href="#">Support</a></li>
							</ul>
						</div>
						<div class="col-md-3">
						</div>
		<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">TripleV</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav">
				<li class="active"><a href="/product">Loại</a></li>
				<li><a href="#">Hãng Sản Xuất</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<form class="navbar-form navbar-left" role="search">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Search">
		>>>>>>> 7ccb309fa612c46a0c3a5bc131ba37d11f081868
					</div>
					</div>
					<div class="clearfix"></div>
					<div class="header_bottom">
					<ul class="option">
						<li id="search" class="search">
							<form><input class="search-submit" type="submit" value=""><input class="search-input" placeholder="Enter your search term..." type="text" value="" name="search"></form>
						</li>
						<li class="option-cart">
							<a href="#" class="cart-icon">cart <span class="cart_no">02</span></a>
							<ul class="option-cart-item">
								<li>
								<div class="cart-item">
									<div class="image"><img src="images/products/thum/products-01.png" alt=""></div>
									<div class="item-description">
										<p class="name">Alexander McQueen</p>
										<p>Size: <span class="light-red">One size</span><br>Quantity: <span class="light-red">01</span></p>
									</div>
									<div class="right">
										<p class="price">$30.00</p>
										<a href="#" class="remove"><img src="Alexander McQueen.png" alt="remove"></a>
									</div>
								</div>
								</li>
								<li>
								<div class="cart-item">
									<div class="image"><img src="images/products/thum/products-02.png" alt=""></div>
									<div class="item-description">
										<p class="name">Bally</p>
										<p>Size: <span class="light-red">One size</span><br>Quantity: <span class="light-red">01</span></p>
									</div>
									<div class="right">
										<p class="price">$30.00</p>
										<a href="#" class="remove"><img src="Bally.png" alt="remove"></a>
									</div>
								</div>
								</li>
								<li><span class="total">Total <strong>$60.00</strong></span><button class="checkout" onClick="location.href='checkout.html'">CheckOut</button></li>
							</ul>
						</li>
					</ul>
					<div class="navbar-header"><button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button></div>
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li class="active dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Home</a>
								<div class="dropdown-menu">
								<ul class="mega-menu-links">
									<li><a href="index.html">home</a></li>
									<li><a href="productlitst.html">Productlitst</a></li>
									<li><a href="productgird.html">Productgird</a></li>
									<li><a href="details.html">Details</a></li>
									<li><a href="cart.html">Cart</a></li>
									<li><a href="checkout.html">CheckOut</a></li>
									<li><a href="checkout2.html">CheckOut2</a></li>
									<li><a href="contact.html">contact</a></li>
								</ul>
								</div>
							</li>
							<li><a href="productgird.html">men</a></li>
							<li><a href="productlitst.html">women</a></li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Fashion</a>
								<div class="dropdown-menu mega-menu">
								<div class="row">
									<div class="col-md-6 col-sm-6">
										<ul class="mega-menu-links">
											<li><a href="productgird.html">New Collection</a></li>
											<li><a href="productgird.html">Shirts & tops</a></li>
											<li><a href="productgird.html">Laptop & Brie</a></li>
											<li><a href="productgird.html">Dresses</a></li>
											<li><a href="productgird.html">Blazers & Jackets</a></li>
											<li><a href="productgird.html">Shoulder Bags</a></li>
										</ul>
									</div>
									<div class="col-md-6 col-sm-6">
										<ul class="mega-menu-links">
											<li><a href="productgird.html">New Collection</a></li>
											<li><a href="productgird.html">Shirts & tops</a></li>
											<li><a href="productgird.html">Laptop & Brie</a></li>
											<li><a href="productgird.html">Dresses</a></li>
											<li><a href="productgird.html">Blazers & Jackets</a></li>
											<li><a href="productgird.html">Shoulder Bags</a></li>
										</ul>
									</div>
								</div>
								</div>
							</li>
							<li><a href="productgird.html">gift</a></li>
							<li><a href="productgird.html">kids</a></li>
							<li><a href="productgird.html">blog</a></li>
							<li><a href="productgird.html">jewelry</a></li>
							<li><a href="contact.html">contact us</a></li> 
						</ul>
					</div>
					</div>
				</div>
			</div>
		</div>
		</div>

	<div class="container-fluid col-md-12">
		<header id="header" style="background-color: #678902;height: 200px;">
			this is my header
		</header><!--end header-->
		<div id="main">
			<div id="myCarousel" class="carousel slide" data-ride="carousel" style="height: 300px;width: 60%;margin-left: auto;margin-right: auto;">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
					<li data-target="#myCarousel" data-slide-to="2"></li>
				</ol>
				<!-- Wrapper for slides -->
				<div class="carousel-inner" style="height:300px;">
					<div class="item active">
						<img src="../public/assets/banner/banner-sanpham1.png" alt="Los Angeles">
					</div>
					<div class="item">
						<img src="../public/assets/banner/banner-sanpham2.png" alt="Chicago">
					</div>

					<div class="item">
						<img src="../public/assets/banner/banner-sanpham3.png" alt="New york">
					</div>
				</div>
				<!-- Left and right controls -->
				<a class="left carousel-control" href="#myCarousel" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control" href="#myCarousel" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right"></span>
					<span class="sr-only">Next</span>
				</a>
			</div><!--end slide promotion-->
			<br>
			<div class="btn-group btn-breadcrumb">
				<a href="#" class="btn btn-default">
					<i class="glyphicon glyphicon-home">
						Home
					</i>
				</a>
				<a href="#" class="btn btn-default">
					Túi xách nữ
				</a>
				<a href="#" class="btn btn-default">
					This product
				</a>
			</div><!--End breadcrumb-->
			<br><br>
			<div class="col-md-7" style="height: 700px">
				<img src="../public/assets/Sanpham/hinhsanpham.png">
			</div><!--main picture product-->
			<div class="col-md-5" style="height: 300px;">
				<div id="nameitem">
					<h2>Bucket Bag</h2>
				</div>
				<div id="priceitem">
					<h3>150.000VND</h3>
				</div>
				<div class="selection" style="margin-top: 30px">
					<div id="selectionsize" class="col-md-8" >
						<div class="form-group">
							<select class="form-control">
								<option value="">Chọn kích cỡ bạn muốn</option>
								<option value="">Size 1</option>
								<option value="">Size 2</option>
								<option value="">Size 3</option>
							</select>
						</div>
					</div>
					<div id="selectionqty" class="col-md-4">
						<div class="form-group">
							<select class="form-control">
								<option value="">Chọn số lượng</option>
								<option value="">1 cái</option>
								<option value="">2 cái</option>
								<option value="">3 cái</option>
							</select>
						</div>
					</div>
				</div><!--end selection-->
				<div id="color">
					<h3>Color</h3>
					<div class="color">
						<a href="#"><img class="img-thumbnail" src="../public/assets/color/black.png" style="margin: 7px;width:50px"></a>
						<a href="#"><img class="img-thumbnail" src="../public/assets/color/red.png" style="margin: 7px;width:50px"></a>
						<a href="#"><img class="img-thumbnail" src="../public/assets/color/green.png" style="margin: 7px;width:50px"></a>
					</div>
				</div><!--end color chosen box-->
				<div class="text-center" style="margin-top:50px">
					<h4>20% OFF + FREE SHIPPING</h4>
					<h5>For All New Levi’s® Email Subscribers <a href="#" class="alert-link">Details</a> </h5>
				</div>
				<button type="button" class="btn btn-danger col-md-12">
					<h4>Add to your cart</h4>
				</button>
			</div><!-- infor about product-->
			<div id="slidebar" >
				<div class="col-md-6" style="margin-top: 0px">
					<a href="#">
						<img class="img-thumbnail" style="width: 150px"  src="../public/assets/Sanpham/sanpham1_1.jpg">
					</a>
					<a href="#">
						<img class="img-thumbnail" style="width: 150px"  src="../public/assets/Sanpham/sanpham1_2.jpg">
					</a>
				</div>
			</div><!--end slidebar-->
			<div id="detail">
				<div class="col-md-12" style="margin-top:10px">
					<h3 style="color:#777">
						<span class="glyphicon glyphicon-list-alt"/>
						Details
					</h3>
					<div class="content-detail">
						Túi xách nữ tua rua Chanel sang trọng có thiết kế thời trang thanh lịch, nhỏ gọn là phụ kiện không thể thiếu của phái đẹp <br>
						Túi có khóa kéo tiện dụng đựng những vật dụng cần thiết, đường may đẹp, chắc chắn, cho bạn an tâm sử dụng
						Họa tiết ô vuông phối cùng tua rua phía trước xinh xắn, dễ thương, quai đeo dạng mắt xích nối liền nhau chắc chắn, thời trang <br>
						Màu đen thanh lịch, tinh tế dễ dàng kết hợp phụ kiện và trang phục <br>
						Chất liệu simili bền màu giúp bạn tự tin khi sử dụng lâu dài <br>
						Kích thước: <br>
						Dài 25cm, Rộng 16cm, Đáy 7cm <br>
						Hotline:01234732339
					</div>
					<hr>
				</div>
			</div><!--end details-->
			<div id="other-products">
				<div class="col-md-12">
					<h3 style="color:#777">
						<span class=""/>
						CÁC SẢN PHẨM KHÁC
					</h3>
					<div class="row">
						<div id="other-carousel" class="carousel slide" data-interval="1000" data-ride="carousel" data-wrap="true">
							<!-- Indicators -->
							<ol class="carousel-indicators">
								<li data-target="#other-carouse" data-slide-to="0" class="active"></li>
								<li data-target="#other-carouse" data-slide-to="1"></li>
								<li data-target="#other-carouse" data-slide-to="2"></li>
							</ol>
							<!-- Wrapper for slides -->
							<div class="carousel-inner"">
								<div class="item active">
									<div class="row">
										<div class="col-xs-4">
											<a href="#">
												<img src="../public/assets/Sanpham/sanphamkhac_1.jpg" class="img-responsive" style="height: 300px">
											</a>
										</div>
										<div class="col-xs-4">
											<a href="#">
												<img src="../public/assets/Sanpham/sanphamkhac_2.jpg" class="img-responsive" style="height: 300px">
											</a>
										</div>
										<div class="col-xs-4">
											<a href="#">
												<img src="../public/assets/Sanpham/sanphamkhac_4.jpg" class="img-responsive" style="height: 300px">
											</a>
										</div>
									</div>
								</div>
								<div class="item">
									<div class="row">
										<div class="col-xs-4">
											<a href="#">
												<img src="../public/assets/Sanpham/sanphamkhac_4.jpg" class="img-responsive" style="height: 300px">
											</a>
										</div>
										<div class="col-xs-4">
											<a href="#">
												<img src="../public/assets/Sanpham/sanphamkhac_5.jpg" class="img-responsive" style="height: 300px">
											</a>
										</div>
										<div class="col-xs-4">
											<a href="#">
												<img src="../public/assets/Sanpham/sanphamkhac_6.jpg" class="img-responsive" style="height: 300px">
											</a>
										</div>
									</div>
								</div>					
							</div>
							<!-- Left and right controls -->
							<a class="left carousel-control" href="#other-carousel" data-slide="prev">
								<span class="glyphicon glyphicon-chevron-left"></span>
								<span class="sr-only">Previous</span>
							</a>
							<a class="right carousel-control" href="#other-carousel" data-slide="next">
								<span class="glyphicon glyphicon-chevron-right"></span>
								<span class="sr-only">Next</span>
							</a>
						</div>
					</div>
				</div>
			</div><!--end others product-->
		</div><!--end main-->
		<div class="col-md-12">
		<hr style="background-color: #FF7F00; height: 4px; width: 100%;">
		</div>
		<footer class="col-md-12" style="background-color: #567;height: 200px">
			This is my footer
			<form id ="login-form" class="modal-backdrop center-block col-md-4" action="Products.html" method="get" style="height: 400px;background-color: #fff;">
				<div class="container-fluid">
					<button type="button" id="btnExit" class="col-md-offset-12" style="background-color: transparent;border-width: 0px;">
						<span class="glyphicon glyphicon-remove" style="font-size: 20px;"/>
					</button>
					<img src="../public/images/logo-login.png" class="center-block" style="margin-top:20px; width: 20%;">
					<div class="text-center">
						<h3>Login</h3>
					</div>
					<div class="row">
						<div class="input-group col-md-10 col-md-offset-1">
							<div class="input-group-addon">
								<span class="glyphicon glyphicon-user"/>
							</div>
							<input type="text" name="username" id="username" class="form-control" value="" required="required" pattern="[a-z]" title="" placeholder="Nhập tên tài khoản của bạn">
						</div>
					</div>
					<div class="row">
						<div class="input-group col-md-10 col-md-offset-1">
							<div class="input-group-addon">
								<span class="glyphicon glyphicon-lock"/>
							</div>
							<input type="password" name="password" id="password" class="form-control" value="" required="required" placeholder="Nhập mật khẩu của bạn">
						</div>
					</div>
					<div class="row">
						<div class="checkbox col-md-offset-1">
							<label>
								<input type="checkbox" name="remember-id" value="">
								Nhớ lấy tôi vào lần đăng nhập sau
							</label>
						</div>
					</div>
					<div class="row">
						<button type="submit" class="btn btn-success center-block">Đăng nhập</button>
					</div>

				</div>
			</form>
			<button id="btn" type="button" class="btn btn-default">button</button>
		</footer><!--end footer-->
	</div>
	<script>
		var btn = document.getElementById("btnExit")
		var form = document.getElementById("login-form")
		var btn1 =document.getElementById("btn")
		var main = document.getElementById("main")
		btn.onclick = function close(){
			form.style.display="none"

		}

		btn1.onclick = function open(){
			form.style.display="block";
			main.style.backgroundColor = '#123';
		}
	</script>
</body>
</html>