<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="../public/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../public/css/mycss/style.css">
	<script src="../public/js/jquery-3.3.1.min.js"></script>
	<script src="../public/js/bootstrap.min.js"></script>	
</head>
<body>
	<div class="container-fluid">
		<div class="left col-md-3" style="height: 400px">
			<div class="sanpham" style="margin-bottom: 0px;">
				<h3>TÚI XÁCH</h3>
				<hr style="border-color:#000; margin-top: 3px;margin-bottom: 0px">
				<ul class="nav nav-stacked">
					<li><a href="#" style="color:#000">Home</a></li>
					<li><a href="#" style="color:#000">Túi xách</a></li>
					<li><a href="#" style="color:#000">Balô</a></li>
				</ul>
			</div><!--end tim kiem theo san pham-->
			<h3>LỌC THEO DANH SÁCH</h3>
			<hr style="border-color:#000; margin-top: 3px">
			<div class="loaisanpham">
				<h4>LOẠI SẢN PHẨM</h4>
				<div class="checkbox">
					<label>
						<input type="checkbox" value="">
						Vải
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" value="">
						Da
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" value="">
						Cotton
					</label>
				</div>
			</div><!--end tim kiem theo loai-->
			<hr style="border-color:#000; margin-top: 3px">
			<div class="kieudang">
				<h4>NHÀ SẢN XUẤT</h4>
				<div class="checkbox">
					<label>
						<input type="checkbox" value="">
						Le'vis
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" value="">
						Gucci
					</label>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" value="">
						Bally
					</label>
				</div>
			</div>
		</div><!--end left bar-->
		<div class="right col-md-9" style="height: 400px">
			<div class="row" style="margin-top: 20px">
				<div class="tieude col-md-2">
					<h3 style="margin-top: 5px">TÚI XÁCH</h3>
					<div id="soluong"><h5>999 Items<h5></div>
				</div>
				<div class="sort col-md-4" style="float: right">
					<button id="menu-sort" type="button" class="btn btn-default dropdown-toggle col-md-10" style="border-radius: 0px;">
						<span style="float:left">Recommended</span>
						<span class="glyphicon glyphicon-menu-down" style="float: right"></span>
					</button>
				</div>
			</div>
			<div class="container-fluid">
				<div class="hienthisanpham" style="height: 300px">
					<div class="row col-md-12">
						<div class="item col-md-4 text-center" >
							<img src="../public/images/Bally.jpg" style="width: 100%">
							<div class="tensanpham"><h4>Túi da trăn</h4></div>
							<div class="giasanpham"><h4>200.000 VND</h4></div>
							<div class="loaisanpham"><h6>Vải</h6></div>
						</div>
						<div class="item col-md-4 text-center">
							<img src="../public/images/Burberry.jpg" style="width: 100%">
							<div class="tensanpham"><h4>Túi da trăn</h4></div>
							<div class="giasanpham"><h4>200.000 VND</h4></div>
							<div class="loaisanpham"><h6>Vải</h6></div>
						</div>
						<div class="item col-md-4 text-center">
							<img src="../public/images/Bulgari.jpg" style="width: 100%">
							<div class="tensanpham"><h4>Túi da trăn</h4></div>
							<div class="giasanpham"><h4>200.000 VND</h4></div>
							<div class="loaisanpham"><h6>Vải</h6></div>
						</div>
					</div>
					<div class="row col-md-12">
						<div class="item col-md-4 text-center">
							<img src="../public/images/Bally.jpg" style="width: 100%">
							<div class="tensanpham"><h4>Túi da trăn</h4></div>
							<div class="giasanpham"><h4>200.000 VND</h4></div>
							<div class="loaisanpham"><h6>Vải</h6></div>
						</div>
						<div class="item col-md-4 text-center">
							<img src="../public/images/Burberry.jpg" style="width: 100%">
							<div class="tensanpham"><h4>Túi da trăn</h4></div>
							<div class="giasanpham"><h4>200.000 VND</h4></div>
							<div class="loaisanpham"><h6>Vải</h6></div>
						</div>
						<div class="item col-md-4 text-center">
							<img src="../public/images/Bulgari.jpg" style="width: 100%">
							<div class="tensanpham"><h4>Túi da trăn</h4></div>
							<div class="giasanpham"><h4>200.000 VND</h4></div>
							<div class="loaisanpham"><h6>Vải</h6></div>
						</div>
					</div>
					<div class="row col-md-12">
						<div class="item col-md-4 text-center" >
							<img src="../public/images/Bally.jpg" style="width: 100%">
							<div class="tensanpham"><h4>Túi da trăn</h4></div>
							<div class="giasanpham"><h4>200.000 VND</h4></div>
							<div class="loaisanpham"><h6>Vải</h6></div>
						</div>
						<div class="item col-md-4 text-center">
							<img src="../public/images/Burberry.jpg" style="width: 100%">
							<div class="tensanpham"><h4>Túi da trăn</h4></div>
							<div class="giasanpham"><h4>200.000 VND</h4></div>
							<div class="loaisanpham"><h6>Vải</h6></div>
						</div>
						<div class="item col-md-4 text-center">
							<img src="../public/images/Bulgari.jpg" style="width: 100%">
							<div class="tensanpham"><h4>Túi da trăn</h4></div>
							<div class="giasanpham"><h4>200.000 VND</h4></div>
							<div class="loaisanpham"><h6>Vải</h6></div>
						</div>
					</div>
					<hr style="background-color: #000; height: 1px; width: 100%;">
					<div class="container-fluid text-center">
						<ul class="pagination pagination-lg text-center">
						  	<li><a href="#">1</a></li>
						  	<li><a href="#">2</a></li>
						  	<li><a href="#">3</a></li>
						  	<li><a href="#">4</a></li>
						  	<li><a href="#">5</a></li>
						</ul>
					</div>
				</div><!--end hien thi san pham>
			</div>
		</div>
	</div>
</body>
</html>