<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../public/css/mycss/sign-in-form.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>
	<form id ="login-form" class="modal-backdrop center-block col-md-4" action="Products.html" method="get" style="height: 400px;background-color: #fff;border-color: #000">
		<div class="container-fluid">
			<button type="button" id="btnExit" class="col-md-offset-12" style="background-color: transparent;border-width: 0px;">
				<span class="glyphicon glyphicon-remove" style="font-size: 20px;"/>
			</button>
			<img src="../public/images/logo-login.png" class="center-block" style="margin-top:20px; width: 20%;">
			<div class="text-center">
				<h3>Sign up</h3>
			</div>
			<div class="row">
				<input type="text" name="" id="input" class="form-control" value="" required="required" pattern="" title="" placeholder="Tên đăng nhập">
			</div>
			<div class="row">
				<input type="email" name="" id="input" class="form-control" value="" required="required" title="" placeholder="Nhập email của bạn">
			</div>
			<div class="row">
				<input type="password" name="" id="input" class="form-control" required="required" title="" placeholder="Nhập mật khẩu của bạn">
			</div>
			<div class="row">
				<input type="password" name="" id="input" class="form-control" required="required" title="" placeholder="Xác nhận lại mật khẩu">
			</div>
			<div class="row">
				<input type="number" name="" id="input" class="form-control" value="" required="required" title="" placeholder="Nhập số điện thoại của bạn">
			</div>
			<div class="row form-inline">
				<input type="text" name="" id="input" class="col-md-8 form-control" value="" required="required" pattern="" title="" placeholder="Nhập mã xác nhận">
				<img class="col-md-4" src="../public/images/capcha.png">
			</div>
			<div class="row" style="float: right">
				<button type="submit" class="btn btn-success right">Đăng kí</button>
				<button type="submit" class="btn btn-danger right">Hủy bỏ</button>
			</div>
			
		</div>
	</form>
	<button id="btn" type="button" class="btn btn-default">button</button>
	<script>
		var btn = document.getElementById("btnExit")
		var form = document.getElementById("login-form")
		var btn1 =document.getElementById("btn")
		var main = document.getElementById("main")
		btn.onclick = function close(){
			form.style.display="none"

		}

		btn1.onclick = function open(){
			form.style.display="block";
			main.style.backgroundColor = '#123';
		}
	</script>
</body>
</html>