
/*----------------------------- Cart -----------------------------*/
.products-listItem {
	float: left;
	position: relative;
	width: 100%;
	margin-bottom: 15px;
}
.products-listItem .products {
	border: 1px solid #e1e1e1;
	position: relative;
	overflow: hidden;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: #fff;
	padding: 15px;
	margin-top: 15px;
	min-height: 150px;
}
.products-listItem .products:hover {
	background: #fff;
	border-color: #dddddd;
	-webkit-box-shadow: 0 0 5px 1px #d3d3d3;
	box-shadow: 0 0 5px 1px #d3d3d3;
}
.products-listItem .thumbnail {
	border: medium none;
	float: left;margin: 0;
	padding: 15px 10px 5px 10px;
	position: relative;
	width: 18%;
	height: auto;
}
.product-list-description {
	float: right;
	width: 75%;
}
.product-list-description .productname {
	font-size: 20px;
	color: #434343;
	text-align: left;
	margin-top: 15px;
	font-weight: 400;
}
.product-price {
	/*margin-top: -10px;*/
/*	text-decoration: line-through;*/
	font-size: 18px;
	color: #666666;
}
.list_bottom {
	position: relative;
	/*width: 100%;*/
	padding-top: 10px;
}
.list_bottom .button_group {
	/*width: auto;*/
	float: left;
}
.product-list-description .price {
	float: left;
	width: 30%;
}
.product-list-description .new_price {
	float: right;
	font-size: 28px;
	color: #ff3636;
	margin-right: 10px;
}
.product-list-description .new_price sup {
	font-size: 18px;
}
/*.product-list-description .old_price {
	float: left;
	text-decoration: line-through;
	font-size: 18px;
	color: #666666;
}*/
/*.product-list-description .old_price sup {
	font-size: 10px;
}*/
.product-list-description .button {
	margin: 0 5px;
}
.list_bottom {
	position: relative;
	width: 100%;
	left: 0;
}
.product-list-description .price, .list_bottom .button_group {
	width: 100%;
	text-align: center;
}
.button {
	margin-bottom: 10px;
}
.products .button_group {
	float: left;
	margin-bottom: 10px;
	/*width: 100%;*/
	text-align: center;
}
.button, button {
	background: #fff;
	padding: 10px 20px;
	border: 1px solid #cccccc;
	font-size: 14px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	outline: none;
}
.button:hover, button:hover {
	border: 1px solid #dddddd;
	color: #fe5252;
}
.remove {
	position: absolute;
	right: 15px;
	top: 15px;z-index: 99;
	padding: 10px;
	font-size: 18px;
	color: #000;
	/*background: #dddddd;*/
	-webkit-border-radius: 10px;
	/*border-radius: 10px;*/
}

.remove:hover {
	color: #ff3636;
}

.product-payment {
	padding-top: 20px;
}
/*----------------------------- Cart -----------------------------*/

ul {
	list-style-type: none;
}
.carousel-control.right {
	background-image: -webkit-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,0)),to(rgba(0,0,0,0)));
    background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
}
