body {
	font-family: 'Quicksand', sans-serif;
	/*background-color: #f5f5f5;*/
}
/*----------------------------- Cart -----------------------------*/
.cart .products-listItem {
	float: left;
	position: relative;
	width: 100%;
	margin-bottom: 15px;
}
.cart .products-listItem .products {
	border: 1px solid #e1e1e1;
	position: relative;
	overflow: hidden;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: #fff;
	padding: 15px;
	margin-top: 15px;
	min-height: 150px;
}
.cart .products-listItem .products:hover {
	background: #fff;
	border-color: #dddddd;
	-webkit-box-shadow: 0 0 5px 1px #d3d3d3;
	box-shadow: 0 0 5px 1px #d3d3d3;
}
.cart .products-listItem .thumbnail {
	border: medium none;
	float: left;margin: 0;
	padding: 15px 10px 5px 10px;
	position: relative;
/*	width: 25%;*/
	height: auto;
}
.cart .product-list-description {
	float: left;
	/*width: 75%;*/
}
.cart .product-list-description .productname {
	font-size: 20px;
	color: #434343;
	text-align: left;
	margin-top: 15px;
	font-weight: 400;
}
.cart .product-price {
	/*margin-top: -10px;*/
/*	text-decoration: line-through;*/
	font-size: 18px;
	color: #666666;
}
.cart .list_bottom {
	position: relative;
	/*width: 100%;*/
	padding-top: 10px;
}
.cart .list_bottom .button_group {
	/*width: auto;*/
	float: left;
}
.cart .product-list-description .price {
	float: left;
	width: 30%;
}
.cart .product-list-description .new_price {
	/*float: right;*/
	font-size: 25px;
	color: #ff3636;
	margin-right: 10px;
}
.cart .product-list-description .new_price sup {
	font-size: 18px;
}

.cart .cart-title {
	padding-bottom: 20px;
	border-bottom: 1px solid #333;
}
/*.product-list-description .old_price {
	float: left;
	text-decoration: line-through;
	font-size: 18px;
	color: #666666;
}*/
/*.product-list-description .old_price sup {
	font-size: 10px;
}*/
.cart .product-list-description .button {
	margin: 0 5px;
}
.cart .list_bottom {
	position: relative;
	/*width: 100%;*/
	left: 0;
}
.cart .product-list-description .price, .list_bottom .button_group {
	width: 100%;
	text-align: center;
}
.cart .button {
	margin-bottom: 10px;
}
.cart .products .button_group {
	float: left;
	margin-bottom: 10px;
	/*width: 100%;*/
	text-align: center;
}
.cart .button, button {
	background: #fff;
	padding: 10px 15px;
	border: 1px solid #cccccc;
	font-size: 14px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	outline: none;
}
.cart .button:hover, button:hover {
	border: 1px solid #dddddd;
	color: #fe5252;
}
.cart .remove {
	position: absolute;
	right: 15px;
	top: 15px;z-index: 99;
	padding: 10px;
	font-size: 18px;
	color: #000;
	/*background: #dddddd;*/
	-webkit-border-radius: 10px;
	/*border-radius: 10px;*/
}

.cart .remove:hover {
	color: #ff3636;
}

.cart .product-payment {
	padding-top: 20px;
}
/*----------------------------- Cart -----------------------------*/

.product {
	border: 1px solid #e1e1e1;
	border-radius: 10px;
	padding: 10px;
	height: 280px;
}

.product:hover {
	box-shadow: 0 0 5px 1px #d3d3d3;
}

.thumbnail {
	border: 0;

}

.product .thumbnail img {
	width: 100%; 
	height: auto;
    overflow: hidden;
}

.product img {
	border: 0;
}

.light-text {
	font-weight: lighter;
	color: #999;
}
ul {
	list-style-type: none;
}

.title {
	font-weight: bold;
}

.highlight-color {
	color: #ff5252;
}
.carousel-costum {
	width: 0;
	padding-right: 10%;
}
.carousel-control.right {
	/*right: 75px;*/
	background-image: -webkit-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,0)),to(rgba(0,0,0,0)));
    background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
}

a {
	color: #000;
}

a:hover {
	color: #eee;
	text-decoration: none;
}

/*.index .product {
	background-color: #fff;
}*/